.pdf-iframe {
  width: 100%;
  aspect-ratio: 210 / 297;
}

.contact-main {
  width: 100%;
}

.basic-contact {
  margin-left: 5%;
  margin-right: 5%;
}

.contact-heading-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pdf-iframe iframe {
  width: 100%;
  aspect-ratio: 210 / 297;
}

.social-media-div {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}